{% extends "base_dashboard.html" %}

{% block head %}
<title>Siharpa - Ganti Password</title>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

{% endblock %}

{% block body %}
<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Ganti Password</h3>
        </div>
    </div>
    <!-- End Page Header -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <i class="fa fa-check"></i>
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <i class="fa fa-exclamation-circle"></i>
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Small Stats Blocks -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="mx-4 my-4">
                    <form action="{{url_for('ganti_password_post')}}" method="post">
                        <div class="container-fluid">
                            <div class="form-group col-sm-12">
                                <label for="username_input">PASSWORD LAMA</label>
                                <input type="password" id="password_input" class="form-control" name="old_password" required placeholder="*********">
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="username_input">PASSWORD BARU</label>
                                <input type="password" id="password_input" class="form-control" name="password" required placeholder="*********">
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="username_input">ULANGI PASSWORD BARU</label>
                                <input type="password" id="repassword_input" class="form-control" name="re_password" required placeholder="*********">
                            </div>
                            <div class="form-group col-sm-12 text-center">
                                <input type="submit" value="LOGIN" class="btn btn-block btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- End Small Stats Blocks -->
{% endblock %}
{% block javascript %}
{% endblock %}